<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Say It Again!</title>
    <link rel="icon" type="image/x-icon"  href="https://img.icons8.com/bubbles/100/language.png">    
    <link rel="stylesheet" href="styles.css">
    
</head>
<body>
    <header>
        <div class="logo">
            <img src="/images/logo final.png" alt="Logo" style="height: 40px; width: auto;" />
            <h2>Say It Again!</h2>
        </div>
        <nav>
            <a href="/">Home</a>
            <a href="/translate">Translate</a>
        <a href="/funModes">Fun Modes</a>
        <a href="/submit">Submit</a>
        <a href="/about">About/Contact</a>
        </nav>
    </header>
</body>
</html>