<%- include("partials/header.ejs") %>



<body>
    
  <section class="main">
    <div class="main-text">
      <h1>Talk Like a Pirate, Minion, or Yoda!</h1>
      <p>Transform boring text into epic dialects, fantasy languages, and internet memes using our translation funhouse.</p>
      <a href="/translate"><button class="tranbutton">Try a Translation</button></a>
    </div>
  </section>

  <section class="cards">
    <div class="card">
      <h3>Yoda</h3>
      <p>"Much to learn, you still have."</p>
    </div>
    <div class="card">
      <h3>Pirate</h3>
      <p>"Avast ye! Swab the deck, ye scurvy dog!"</p>
    </div>
    <div class="card">
      <h3>Minion</h3>
      <p>"Bananaaaa!! Bello papoy gelato!"</p>
    </div>
     <div class="card">
    <h3>Shakespeare</h3>
    <p>"To be, or not to be, that is the question."</p>
  </div>
  <div class="card">
    <h3>Alien</h3>
    <p>"Greetings, earthling. Take me to your leader."</p>
  </div>
  </section>
</body>

<%- include("partials/footer.ejs") %>